
/*
 * Hides some unnecessary things from the various uwosh.timeslot content types
 */

#contentview-contentrules, #contentview-local_roles,
#plone-contentmenu-display
{
    display: none;
}

ul.collapsibleList.expanded
{
    display: block;
}

ul.collapsibleList.collapsed
{
    display: none;
}

li.collapsibleListHeader:hover
{
    cursor: pointer;
}

li.collapsibleListHeader.collapsed
{
    list-style: url(treeCollapsed.gif);
}

li.collapsibleListHeader.expanded
{
    list-style: url(treeExpanded.gif);
}

/*
 * Styles
 */

body.portaltype-signup-sheet #content p
{
    margin-top: 1em;
}