
/*
 * Hides some unnecessary things from the various uwosh.timeslot content types
 */

#contentview-contentrules, #contentview-local_roles, #contentview-folderContents,
#plone-contentmenu-display
{
    display: none;
}

ul.collapsibleList.expanded
{
    display: block;
}

ul.collapsibleList.collapsed
{
    display: none;
}

li.collapsibleListHeader:hover
{
    cursor: pointer;
}

li.collapsibleListHeader.collapsed
{
    list-style: url(treeCollapsed.gif);
}

li.collapsibleListHeader.expanded
{
    list-style: url(treeExpanded.gif);
}